/*basic css*/

/*
beige: #F9E1AD;
orange: #EEA46E;
blue: #9FBED4;
purple: #B997BE;
yellow: #F5ECB0;
*/

.navbar {
    -webkit-box-shadow: 0 10px 6px -6px #EEF1F3;
    -moz-box-shadow: 0 10px 6px -6px #999;
    box-shadow: 0 10px 10px -6px #EEF1F3;
/*    height: 75px;*/
}

.navbar-default
{
    background-color:#fff;
    border-color:transparent; 
}

.navbar-default .navbar-brand
{
    color:#B997BE;
    font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active
{
    color:#B997BE;
}
.navbar-default .navbar-collapse
{
    border-color:rgba(255,255,255,.02)
}

.navbar-default .navbar-toggle {
    padding: 20px;
}
.navbar-default .navbar-toggle .icon-bar
{
/*    background-color:black;*/
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
{
    background-color:none;
}
.navbar-default .nav li a
{
    padding: 25px 15px 25px;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*text-transform:uppercase;*/
    font-weight:400;
    letter-spacing:1px;
    color:#222;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus
{
/*    color:#fed136;
    outline:0*/
}
.navbar-default .navbar-nav>.active>a
{
/*    border-radius:0;
    color:#fff;
    background-color:#fed136*/
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
{
    /*color:#fff;*/
    /*background-color:#fec503*/
}

@media (max-width: 768px)
{
    .logoPic {
        width: 80px;
    }
}

/*research*/

.timeline
{
    list-style:none;
    padding:0;
    position:relative
}
.timeline:before
{
    top:0;
    bottom:0;
    position:absolute;
    content:"";
    width:2px;
    background-color:#d0dff1;
    /*left:50px;*/
    margin-left:-1.5px
}
.timeline>li
{
    margin-bottom:50px;
    position:relative;
    min-height:50px
}
.timeline>li:before,.timeline>li:after
{
    content:" ";
    display:table
}
.timeline>li:after
{
    clear:both
}
.timeline>li .timeline-panel
{
    width:100%;
    float:right;
    padding:0 20px 0 200px;
/*    padding: 0 20px 0 120px;*/
    position:relative;
    text-align:left
}
.timeline>li .timeline-panel:before
{
    border-left-width:0;
    border-right-width:15px;
    left:-15px;
    right:auto
}
.timeline>li .timeline-panel:after
{
    border-left-width:0;
    border-right-width:14px;
    left:-14px;
    right:auto
}
.timeline>li .timeline-image
{
    left:0;
    margin-left:0;
    width:80px;
    height:80px;
    position:absolute;
    z-index:100;
    /*background-color:#fed136;*/
    color:#fff;
    border-radius:100%;
    border:3px solid #d0dff1;
    text-align:center
}
.timeline>li .timeline-image h4
{
    font-size:10px;
    margin-top:12px;
    line-height:14px
}
.timeline>li.timeline-inverted>.timeline-panel
{
    float:right;
    text-align:left;
    padding:0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before
{
    border-left-width:0;
    border-right-width:15px;
    left:-15px;
    right:auto
}
.timeline>li.timeline-inverted>.timeline-panel:after
{
    border-left-width:0;
    border-right-width:14px;
    left:-14px;
    right:auto
}
.timeline>li:last-child
{
    margin-bottom:0;
    min-height: initial;
}


.timeline .timeline-body>p,.timeline .timeline-body>ul
{
    margin-bottom:0
}
    @media (min-width:768px)
{
.timeline:before
{
/*left:50%*/
}
.timeline>li
{
    margin-bottom:100px;
    min-height:100px
}
/*.timeline>li .timeline-panel
{
    width:41%;
    float:left;
    padding:0 20px 20px 30px;
    text-align:right
}*/
.timeline>li .timeline-image
{
    width:100px;
    height:100px;
/*    left:50%; */
    margin-left: -20px;
}
.timeline>li .timeline-image h4
{
    font-size:13px;
    margin-top:16px;
    line-height:18px
}
.timeline>li.timeline-inverted>.timeline-panel
{
    float:right;
    text-align:left;
    padding:0 30px 20px 20px
}

}
    @media (min-width:992px)
{
.timeline>li
{
    min-height:150px
}
.timeline>li .timeline-image
{
    width:150px;
    height:150px;
    /*margin-left:-75px*/
}
.timeline>li .timeline-image h4
{
    font-size:18px;
    margin-top:30px;
    line-height:26px
}
.timeline>li.timeline-inverted>.timeline-panel
{
    padding:0 20px 20px
}

}
    @media (min-width:1200px)
{
.timeline>li
{
    min-height:170px
}
.timeline>li .timeline-panel
{
/*    padding:0 20px 20px 100px*/
}
.timeline>li .timeline-image
{
    width:170px;
    height:170px;
    /*margin-left:-85px*/
}
.timeline>li .timeline-image h4
{
    margin-top:40px
}
.timeline>li.timeline-inverted>.timeline-panel
{
    padding:0 100px 20px 20px
}

}