/* Nav overrides */
.navbar-default .navbar-nav>.active>a{ background: none; }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background:none;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #ff61da;
    background: none;
}

.navbar-default ul.nav li a:hover {
    color: #9FBED4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #2D8BCD;
    background: none;
}
/* Remove button like hamburger menu on nav */
.navbar-default .navbar-toggle { border: none;}
/* Nav mobile remove bg */
.navbar-default { background: none;}


/* Font overrides */
h1,h2,h3,h4,h5,h6 {
    font-family:"semplicitapro",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:initial;
}
body {
    font-family:"adobe-caslon-pro","Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-default .nav li a {
    font-size: 134x;
    font-family: "semplicitapro",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}