/*basic css*/

/*
beige: #F9E1AD;
orange: #EEA46E;
blue: #9FBED4;
purple: #B997BE;
yellow: #F5ECB0;
*/
body {
    overflow-x:hidden;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial, sans-serif;
/*    font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif*/
}

h1,h2,h3,h4,h5,h6
{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial, sans-serif;
/*    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-weight:700*/
}

.navbar-default
{
    background-color:#222;
    border-color:transparent;
}
.navbar-default .navbar-brand
{
    color:#B997BE;
    font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active
{
    color:#B997BE;
}
.navbar-default .navbar-collapse
{
    border-color:rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle
{
/*    background-color:#fed136;
    border-color:#fed136*/
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color:#fff
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
{
    background-color:#3e3c37;
}
.navbar-default .nav li a
{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*text-transform:uppercase;*/
    font-weight:400;
    letter-spacing:1px;
    color:#fff;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus
{
/*    color:#fed136;
    outline:0*/
}
.navbar-default .navbar-nav>.active>a
{
/*    border-radius:0;
    color:#fff;
    background-color:#fed136*/
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
{
    /*color:#fff;*/
    /*background-color:#fec503*/
}


section{
    padding:50px 0
}
section h2.section-heading
{
    color: #A285A5;
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
    font-weight: 500
}

section h3.section-subheading
{
    font-size:16px;
    text-transform:none;
    font-style:italic;
    font-weight:400;
    margin-bottom:75px
}
footer {
    font-size: 14px;
}
